
/* #region utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #1b1b1b;
}


/* #endregion utility */

/* #region debug */

.debug #site_header {
    background-color: black;
}

.debug .menu-left {
    height: 50px;
    background-color: blueviolet;
}

.debug .menu-right {
    height: 50px;
    background-color: red;
}

.debug .start {
    background-color: aquamarine;
}

.debug .box {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}

.debug .block {
    background-color: brown;
    height: 200px;
    width: 300px;
}

.debug .about {
    background-color: aquamarine;
}

.debug .block_top {
    background-color: black;
    height: 80px;
}

.debug .block-l {
    background-color: goldenrod;
    height: 200px;
}

.debug .block-r {
    background-color: blue;
    height: 200px;
}

.debug .top_bar {
    background-color: black;
    height: 80px;
}

.debug .bar {
    height: 50px;
    background-color: brown;
}

.debug .big-bar {
    height: 150px;
    background-color: brown;
}

/* #endregion debug */

/* #region header */

.jumbo img {
    width: 200px;
}

.bar_wh {
    background: white;
    width: 100px;
    height: 2px;
    border-radius: 2rem;
}

.fa-star {
    color: white;
}

.bar_bl {
    background: black;
    width: 100px;
    height: 2px;
    border-radius: 2rem;
}

.star-bl {
    color: black;
}

/* #endregion header */

/* #region main */

/* PORTFOLIO */

.bar_bl {
    background: black;
    width: 100px;
    height: 2px;
    border-radius: 2rem;
}

.star-bl {
    color: black;
}

.portfolio img {
    border-radius: 10px;
}


/* #endregion main */
